body {
    background-color: rgb(255, 255, 165);
}

.image{
    border: 5px solid green;
    border-radius: 10px;
    height: 400px;
}

.centrado {
    text-align: center;
}

.link-button {
    text-decoration: none;
    color: whitesmoke;
    border: 1px solid white;
    background-color: #2d4760;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}